@charset "utf-8";
@import "commons";
#header{
    height: 100px;
    background-color: #FD6F3D;
    .bc{
        img{
            width: 100%;
            height: 100%;
        }
    }
}
#top{
    width: 100%;
    height: 34px;
    background-color: #f2f2f2;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
}
#top_left{
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    float: left;
}
#top_left>a{
    text-decoration: none;
    margin-left: 20px;
    font-size: 12px;
    color: gray;
}
#top_right{
    width: 46%;
    @include maxHeight();
    position: relative;
}
.top_rightdivs{
    @include maxHeight();
    @include flexCenter();
    padding: 0 10px;
    position: relative;
}
.top_solid{
    display: inline-block;
    height: 50%;
    margin-top: 5px;
}
.top_login:hover,.top_register:hover{
    color: red;
}
#top_rightfirst:hover,#top_rightthird:hover,#top_rightsixth:hover{
    @include topHoverone()
}
#top_rightsecond:hover,#top_rightfourth:hover,#top_rightfifth:hover{
    @include topHovertwo()
}
#top_rightseventh:hover{
    @include topHoverthird()
}
#top_rightfirstchild{
    width: 90px;
    height: 50px;
    text-align: center;
    position: absolute;
    top: 35px;
    left: 0;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding-top: 10px;
    display: none;
    background-color: white;
}
#top_rightfirstchild>a:hover,#top_rightthirdchild>a:hover{
    text-decoration: underline;
    color: red;
}
#top_rightthirdchild{
    width: 90px;
    height: 50px;
    text-align: center;
    position: absolute;
    top: 35px;
    left: 160px;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding-top: 10px;
    display: none;
    background-color: white;
}
#top_rightfourthchild{
    width: 200px;
    height: 240px;
    text-align: center;
    position: absolute;
    top: 30px;
    left: 170px;
    border: 1px solid #ccc;
    display: none;
}
#top_rightfourthchild>img{
    width: 100%;
    height: 100%;
}
#top_rightsixthchild{
    border: 1px solid #ccc;
    border-top: none;
    padding: 10px;
    position: absolute;
    top: 35px;
    left: 285px;
    display: none;
    background-color: white;
}
#top_rightsixthchild th{
    width: 70px;
    height: 20px; 
    padding: 5px 0;
}
.top_rightsixthchildth{
    font-weight: normal;
}
.top_rightsixthchildth:hover{
    cursor: pointer;
    color: red;
    text-decoration: underline;
}
.top_rightsixthchildbottom>th{
    border-bottom: 1px dotted #ccc;;
}
#top_rightseventhchild{
    width:1290px;
    height: 141px;
    border: 1px solid black;
    position: absolute;
    top: 135px;
    left: 280px;
    padding: 25px 0;
    display: none;
    background-color: white;
}

.top_rightseventhchild1,.top_rightseventhchild2,.top_rightseventhchild3{
    @include liststyle()
}
.top_rightseventhchild1,.top_rightseventhchild2{
    float: left;
    width: 485px;
    height: 120px;
    padding-left:25px;
    border-right: 1px solid #ccc;
}
.top_rightseventhchild1>h2,.top_rightseventhchild2>h2{
    width: 100%;
    height: 30px;
    color: #F57821;
    font-size: 16px;
}
.top_rightseventhchild1 li,.top_rightseventhchild2 li{
    float: left;
    height: 20px;
    padding: 5px 0;
    width: 95px;
    position: relative;
}
.top_rightseventhchild1>li>a,.top_rightseventhchild2>li>a{
    font-size: 12px;
    color: #666;
    margin-top: 5px;
}
.top_rightseventhchild1>li>a:hover{
    text-decoration: underline;
    color: #F57821;
}
.top_rightseventhchild1 img,.top_rightseventhchild2 img{
    position: absolute;
    top: 4px;
}
.top_rightseventhchild1>li>a:hover{
    text-decoration: underline;
    color: #F57821;
}
.top_rightseventhchild2>h2{
    color: #6C78DF;
}
.top_rightseventhchild2>li>a:hover{
    text-decoration: underline;
    color:  #6C78DF;
}
.top_rightseventhchild3{
    width: 226px;
    height: 120px;
    padding-left:25px;
    float: left;
}
.top_rightseventhchild3>h2{
    width: 100%;
    height: 30px;
    color: #666;
    font-size: 16px;
}
.top_rightseventhchild3 li{
    float: left;
    height: 20px;
    padding: 5px 0;
    width: 95px;
    position: relative;
}
.top_rightseventhchild3>li>a{
    font-size: 12px;
    color: #666;
    margin-top: 5px;
}
.top_rightseventhchild3>li>a:hover{
    text-decoration: underline;
}

#search{
    height: 102px;
    .bc{
        padding: 20px;
        line-height: 100%;
        border-bottom: 2px solid #ccc;
        height: 60px;
        img{
            width: 180px;
            height: 45px;
            float: left;
        }
        .search_right{
            float: right;
            width: 600px;
            position: relative;
            a{
                float: left;
                text-decoration: none;
                font-size: 14px;
            }
            input{
                width: 343px;
                height: 30px;
                border: 3px solid green;
                float: right;
            }
            button{
                width: 75px;
                height: 35px;
                background-color: green;
                border: none;
                cursor: pointer;
                float: right;
                margin-right: 2px;
            }
            div{
                width: 140px;
                height: 140px;
               padding: 20px;
                border: 1px solid #ccc;
                background-color: white;
                z-index: 10;
                position: absolute;
                top: 50px;
                left: 0;
                display: none;
                img{
                    width: 140px;
                    height: 140px;
                    vertical-align: middle;
                }
            }
        }

    }
}
#main{
    height: 603px;
    .bc{
        overflow: auto;
        position: relative;
        .main_small{
            width: 500px;
            height: 500px;
            position: relative;
            float: left;
        }
        .main_small>img{
            width: 100%;
            height: 100%;
        }
        .mark{
            width: 200px;
            height: 200px;
            background-color: black;
            opacity: 0.5;
            position: absolute;
            top: 0;
            left: 0;
            display: none;
        }
        .main_big{
            width: 400px;
            height: 400px;
            position: absolute;
            left: 501px;
            top: 0;
            overflow: hidden;
            display: none;
        }
        .main_big>img{
            width:1000px;
            height:1000px;
            position: absolute;
            top: 0;
            left: 0;
        }
        .main_right{
            float: left;
            width: 500px;
            height: 500px;
            margin-left: 30px;
            h3{
                margin-top: 20px;
                font-size: 20px;
            }
            .main_rightp1{
                font-size: 15px;
                height: 50px;
                line-height:50px;
                background-color: #ECEBEB;
                margin-top: 20px;
            }
            .main_rightp2{
                height: 60px;
                padding-top: 20px;
                span{
                    float: left;
                }
                div{
                    float: left;
                    width: 120px;
                    height: 50px;
                    margin-left: 20px;
                }
            }
            .main_fanwei{
                width: 100%;
                overflow: auto;
                font-size: 12px;
                color: peru;
                margin-top: 20px;
            }
            .main_pingjia{
                width: 100%;
                height: 38px;
                border-top: 1px dotted #ccc;
                border-bottom: 1px dotted #ccc;
                margin-top: 20px;
                display: flex;
                div{
                    flex-grow: 1;
                    text-align: center;
                    line-height: 38px;
                    color: #ccc;
                    span{
                        color: red !important;
                    }
                }
            }
            button{
                width: 150px;
                height:50px;
                background-color: orangered;
                font-size: 16px;
                text-align: center;
                line-height: 50px;
                margin-top: 50px;
                margin-left: 30px;
            }
        }
    }
    
}
#price_intro{
    height: 198px;
    .bc{
        
        img{
            width: 100%;
            height: 100%;
        }
    }
}
#bottom{
    height: 230px;
    padding-top: 30px;
    background-color: #000;
    a{
        font-size: 12px;
        text-decoration: none;
        color: #fff;
        margin-left: 10px;
    }
    .bottom_list2{
        margin-top: 15px;
    }
    .bottom_list3{
        margin-top: 10px;
        span{
            margin-left: 10px;
            color: gray;
            font-size: 12px;
        }
    }
    .bottom_list4{
        margin-top: 10px;
        span{
            color: gray;
            font-size: 12px;
            margin-left: 10px;
        }
        img{
            margin-left: 20px;
        }
    }
    .bottom_list5,.bottom_list6{
        margin-top: 10px;
        span{
            color: gray;
            font-size: 12px;
            margin-left: 10px;
        }
    }
    .bottom_list7{
        margin-top: 10px;
        span{
            color: #ccc;
            font-size: 12px;
            margin-left: 10px;
        }
    }
    .bottom_list8{
        margin-top: 10px;
        img{
            margin-left: 10px;
        }
    }
}

